.d-inline-flex {
    display: inline-flex;
}

.mr {
    margin: 0 1em 0 0;
}

.form-horizontal .form-group {
    margin-right: auto;
    margin-left: auto;
}

.form-view {
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #e4eaec;
}

.form-view[disabled] {
    background: #ffffff !important;
}

.view-div {

    min-height: 30px;
    height: 30px;
}

.view-div p {
    margin-bottom: 0 !important;
}
